In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('/Users/majed-abdulkareem/Desktop/laps/Bootcamp-Project-2-Data-Analysis/Data/real_state_riyadh.csv')

In [3]:
df.head()

,Neighbourhood,Plannedـtransactionـdetails,Detailsـtransaction,Date,transactionـnumber,Total_price,Area,Price_per_meter
0,10186 فى/ 28/ 7/ 142…,مخطط/3738,قطعة 176,"Thursday, 13 January 2022",15906251,834782.0,642.14,1300.00
1,10186 فى/ 28/ 7/ 142…,مخطط/3738,قطعة 178,"Thursday, 13 January 2022",15906446,780000.0,600.00,1300.00
2,10186 فى/ 28/ 7/ 142…,مخطط/3738,قطعة 180,"Thursday, 13 January 2022",15906513,780000.0,600.00,1300.00
3,10186 فى/ 28/ 7/ 142…,مخطط/3738,قطعة 182,"Thursday, 13 January 2022",15906597,780000.0,600.00,1300.00
4,10186 فى/ 28/ 7/ 142…,مخطط/3738,قطعة 184,"Thursday, 13 January 2022",15906669,772688.0,594.38,1300.00

In [4]:
unique_names = []
for name in df['Neighbourhood']:
    if name not in unique_names:
        unique_names.append(name)

for name in unique_names:
    print(name)

10186 فى/ 28/ 7/ 142…
1353 فى/ 20/ 5/ 1413
6 / 8 / 2 / 1429
667/ 23/ 9/ 1410
6868 فى/ 3/ 12/ 1411
أحد
أخرى
ارضة الجو منطقة العز…
اشبيليا
الازدهار
الامانة
الاندلس
البايونية
البديعة
البرية
البطحاء
البيان
التعاون
الثقبة
الجرادية
الجزيرة
الجنادرية
الجهه الغربية
الحائر
الحزم
الحمراء
الخالدية
الخليج
الخويلدية
الخير
الدار البيضاء
الدريهمية
الرابية
الراية
الربوة
الربيع
الرحمانية
الرسالة
الرفيعة
الرقيقة
الرمال
الروابى
الروضة
الريان
الزاهر
الزهرة
الزهور
السعادة
السلام
السلام بسيهات
السلى
السليمانية
السوق
السويدى
الشرفية
الشرق
الشعلة
الشعيب
الشفاء
الشقة
الشلهوب
الشميسى
الشهداء
الصالحية
الصحافة
الصفاء
الضباط
العارض
العريجاء
العزيزية
العقيق
العلا
العليا
العوالي
العود
الغدير
الغروب
الغنامية
الفاروق
الفلاح
الفيحاء
الفيصلية
القادسية
القاع البارد
القدس
القرى
القيروان
المحلة بجبل سلا
المحمدية
المخروقه
المربع
المرسلات
المرقب
المروة
المروج
المشرق
المصانع
المصفاة
المصيف
المعذر
المعيزلية
المغرزات
الملز
الملقا
الملك عبد الله
الملك فهد
الملك فيصل
المناخ
المنار
المنصورة
المنصورية
المهدية
المونسية
النخبة
النخيل
الندوة
الندى
النرجس
النسيم
النظيم
النفل
النهضة
النور
الهياج
الواحة
الوادي
الورود
الوزارات
الوسيطى
الوشام
الياسمين
اليرموك
اليمامة
ام الحمام
ام سليم
بدر
بدون
برزان
تندحة
ثليم
جبره
جرير
حريملاء
حطين
حلة محيش
حوايا
خارج باب قباء
خرجاء
خنشليلة
دعكنة
ديراب
سلطانة
سيهات
شبرا
شرق الرياض
شرق مخطط الغويلا رقم…
شمال البكيرية
شمال بريدة
طريق الحجاز
طريق الخرج
طويق
طيبة
عتيقة
عريض
عكاظ
عليشة
غبيراء
غرب ضراس
قرطبة
قرية أم الصويد
كبد الخفراء 20كم من…
لبن
منسوبى التعليم الأول
منفوحة
نجد بنى قشير
نعيضه
نمار
هدبان
هيت
وادى العرج
واسط
10/ 4/ 2/ 1416
76/ ب/ ى/ 1433
أملحاب بالمخصر
ابو طليحة
الأحسبة الطريق العام
البساتين
الجبس
الخبر الشمالية
الخزامى
الديرة
الربه
الرويضة
الزهراء
السلمانية الرابع
الصناعية
العمل
العوكله المشكاه
الفاخرية
المخرم
المدينة الصناعية الج…
المشاعل
الملك عبدالعزيز
الناصرية
النزهة
الهدا
الواقعة بقرية الروحا…
بنبان
صلاح الدين
طريق قربان
طيبة بمنطقة البيداء
على بعد 10.75 كم جنو…
غرناطة
ق/ ك/ 1013
قرضة من جبل قبيلة ال…
قرية المضايا
لوحة تنظيم تقسيم حيا…
محارث النواشره
مطار الملك خالد الدو…
معكال
نابر
وادى صبيا
16 كم جنوب مسلخ البل…
23.5كم شمال حائل
اشيقر
ال شريد
الارشادى بالخبر الشم…
البديع
الثريا بالعوامية
الخبر الجنوبية
الدانة
الرائد
الرحبه
الرضا
الرواد
الصيهد بالرقيقة
الطرفية الشرقية
الطويلعة
الغراب ووادى الصور ب…
الفوطة
الفيصل بالجعرانه
القوز
النموذجية
الهزانى بنعام
ام الشعال
بنى هميم بحبونا
جنوب المسفلة رقم 2
حافظ
سهله صداء 30كم غرب م…
ش د 1470
شرق شباعة
عرقة
على بعد 265كم شمال ل…
قرية الغريف بالحقو
مزهره

In [64]:
# df.drop('transactionـnumber', inplace=True, axis=1)
df.drop('Plannedـtransactionـdetails', inplace=True, axis=1)
df

,Neighbourhood,Detailsـtransaction,Date,Total_price,Area,Price_per_meter
8,1353 فى/ 20/ 5/ 1413,785,"Monday, 24 January 2022",450000.0,979.80,459.00
9,6 / 8 / 2 / 1429,193/1,"Sunday, 30 January 2022",615000.0,300.00,2050.00
10,6 / 8 / 2 / 1429,193/2,"Sunday, 30 January 2022",682650.0,333.00,2050.00
11,667/ 23/ 9/ 1410,1976/1,"Monday, 10 January 2022",675625.0,287.50,2350.00
12,667/ 23/ 9/ 1410,1978/1,"Monday, 31 January 2022",675000.0,300.00,2250.00
...,...,...,...,...,...,...
14264,هدبان,256/2,"Monday, 21 March 2022",2099475.0,399.9,5250
14265,هدبان,257/1,"Monday, 21 March 2022",1959510.0,399.9,4900
14266,وادى العرج,1965/2,"Sunday, 6 March 2022",718750.0,312.5,2300
14267,واسط,1544/1,"Wednesday, 30 March 2022",685000.0,300,2283
14268,واسط,1545/1,"Tuesday, 8 March 2022",680000.0,300,2267

In [5]:
df = df.drop(df[df['Neighbourhood'] == '10186 فى/ 28/ 7/ 142…'].index, axis=0)
df

,Neighbourhood,Plannedـtransactionـdetails,Detailsـtransaction,Date,transactionـnumber,Total_price,Area,Price_per_meter
8,1353 فى/ 20/ 5/ 1413,مخطط/3212,قطعة 785,"Monday, 24 January 2022",15988483,450000.0,979.80,459.00
9,6 / 8 / 2 / 1429,مخطط/3240/ أ,قطعة 193/1,"Sunday, 30 January 2022",16052150,615000.0,300.00,2050.00
10,6 / 8 / 2 / 1429,مخطط/3240/ أ,قطعة 193/2,"Sunday, 30 January 2022",16051766,682650.0,333.00,2050.00
11,667/ 23/ 9/ 1410,مخطط/3242,قطعة 1976/1,"Monday, 10 January 2022",15874769,675625.0,287.50,2350.00
12,667/ 23/ 9/ 1410,مخطط/3242,قطعة 1978/1,"Monday, 31 January 2022",16066882,675000.0,300.00,2250.00
...,...,...,...,...,...,...,...,...
14264,هدبان,مخطط/2837,قطعة 256/2,"Monday, 21 March 2022",16498618,2099475.0,399.9,"5,250"
14265,هدبان,مخطط/2837,قطعة 257/1,"Monday, 21 March 2022",16498578,1959510.0,399.9,"4,900"
14266,وادى العرج,مخطط/3242,قطعة 1965/2,"Sunday, 6 March 2022",16359548,718750.0,312.5,"2,300"
14267,واسط,مخطط/3242,قطعة 1544/1,"Wednesday, 30 March 2022",16609638,685000.0,300,"2,283"
14268,واسط,مخطط/3242,قطعة 1545/1,"Tuesday, 8 March 2022",16383430,680000.0,300,"2,267"

In [49]:
df['Price_per_meter'] = df['Price_per_meter'].str.replace(',', '')
df['Area'] = df['Area'].str.replace(',', '')
df

,Neighbourhood,Plannedـtransactionـdetails,Detailsـtransaction,Date,transactionـnumber,Total_price,Area,Price_per_meter
8,1353 فى/ 20/ 5/ 1413,مخطط/3212,785,"Monday, 24 January 2022",15988483,450000.0,979.80,459.00
9,6 / 8 / 2 / 1429,مخطط/3240/ أ,193/1,"Sunday, 30 January 2022",16052150,615000.0,300.00,2050.00
10,6 / 8 / 2 / 1429,مخطط/3240/ أ,193/2,"Sunday, 30 January 2022",16051766,682650.0,333.00,2050.00
11,667/ 23/ 9/ 1410,مخطط/3242,1976/1,"Monday, 10 January 2022",15874769,675625.0,287.50,2350.00
12,667/ 23/ 9/ 1410,مخطط/3242,1978/1,"Monday, 31 January 2022",16066882,675000.0,300.00,2250.00
...,...,...,...,...,...,...,...,...
14264,هدبان,مخطط/2837,256/2,"Monday, 21 March 2022",16498618,2099475.0,399.9,5250
14265,هدبان,مخطط/2837,257/1,"Monday, 21 March 2022",16498578,1959510.0,399.9,4900
14266,وادى العرج,مخطط/3242,1965/2,"Sunday, 6 March 2022",16359548,718750.0,312.5,2300
14267,واسط,مخطط/3242,1544/1,"Wednesday, 30 March 2022",16609638,685000.0,300,2283
14268,واسط,مخطط/3242,1545/1,"Tuesday, 8 March 2022",16383430,680000.0,300,2267

In [50]:
filtered_df = df.loc[df['Neighbourhood'] == 'الرمال']

In [56]:
filtered_df['Area']=filtered_df['Area'].astype(float)
filtered_df['Price_per_meter']=filtered_df['Price_per_meter'].astype(float)

/var/folders/tb/fw_49hkd2vl1gfskxm71_9xh0000gn/T/ipykernel_1535/3763864305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Area']=filtered_df['Area'].astype(float)

In [58]:
filtered_df['Price_per_meter'].sum()

1313245.0

In [22]:
filtered_df.shape[0]

444

In [45]:
filtered_df.isnull().sum()

Neighbourhood                  0
Plannedـtransactionـdetails    0
Detailsـtransaction            0
Date                           0
transactionـnumber             0
Total_price                    0
Area                           0
Price_per_meter                0
dtype: int64

In [61]:
df

,Neighbourhood,Plannedـtransactionـdetails,Detailsـtransaction,Date,transactionـnumber,Total_price,Area,Price_per_meter
8,1353 فى/ 20/ 5/ 1413,مخطط/3212,785,"Monday, 24 January 2022",15988483,450000.0,979.80,459.00
9,6 / 8 / 2 / 1429,مخطط/3240/ أ,193/1,"Sunday, 30 January 2022",16052150,615000.0,300.00,2050.00
10,6 / 8 / 2 / 1429,مخطط/3240/ أ,193/2,"Sunday, 30 January 2022",16051766,682650.0,333.00,2050.00
11,667/ 23/ 9/ 1410,مخطط/3242,1976/1,"Monday, 10 January 2022",15874769,675625.0,287.50,2350.00
12,667/ 23/ 9/ 1410,مخطط/3242,1978/1,"Monday, 31 January 2022",16066882,675000.0,300.00,2250.00
...,...,...,...,...,...,...,...,...
14264,هدبان,مخطط/2837,256/2,"Monday, 21 March 2022",16498618,2099475.0,399.9,5250
14265,هدبان,مخطط/2837,257/1,"Monday, 21 March 2022",16498578,1959510.0,399.9,4900
14266,وادى العرج,مخطط/3242,1965/2,"Sunday, 6 March 2022",16359548,718750.0,312.5,2300
14267,واسط,مخطط/3242,1544/1,"Wednesday, 30 March 2022",16609638,685000.0,300,2283
14268,واسط,مخطط/3242,1545/1,"Tuesday, 8 March 2022",16383430,680000.0,300,2267

In [65]:
df.to_csv('/Users/majed-abdulkareem/Desktop/laps/Bootcamp-Project-2-Data-Analysis/Data/SAles.csv')